@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
     font-family: "Mulish", sans-serif;
}

/* default style  */
*{
    margin:0;
}

.container{
    width:90%;
    margin: 5rem auto;
    border-radius: 1rem;
}

h3{
    font-size: 2.3rem;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}

.span{
    color:rgba(255, 84, 0, 1);
}

p,li {
    font-size: 1.2rem;
    font-weight: normal;
    line-height: normal;
    text-align: center;
}


/* Navbar Css style starts here  */
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display:flex;
    align-items:center ;
    width:280px;
    
}

.logo img{
    width:48px;
    height:56px;
    margin-right:0.5rem;
    
}

.nav-option{
    display:flex;
    justify-content: space-evenly;
    gap:3rem;
}

.nav-option p {
    cursor:pointer;
}



/* Banner Section Css style starts here  */

.explore-your-travel{
    background-image: linear-gradient(
        180deg, rgba(19, 19, 24, 0.8),
        rgba(19, 19, 24, 0) 100%),
        url(../Images/banner-bg.png);
        padding: 7rem 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display:flex;
        justify-content: center;
        align-items: center;
}

.explore-container h3 {
    color:white;
    font-size: 4rem;
    font-weight: 800;
}

.explore-container p{
    color: rgba(255, 255, 255, 1);
    width:676px;
    font-size: 18px;
    line-height: 26px;
    padding: 1.5rem 0;
    margin:auto;
}

.travel-inputs{
    margin-top: 2rem;
    border-radius: 8px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    padding:1rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(4px);
}

input, select{
    width:175px;
    height:50px;
    border-radius: 8px;
    padding:0 0.5rem;
    margin: 0 1rem;
    font-size: 16px;
    border:none;
    cursor:pointer;
}

.btn-primary{
    width:175px;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 16px;
    gap:8px;
    padding:0.7rem 1.2rem;
    border:1px solid rgba(255, 84, 0, 1);
    background-color:rgba(255, 84, 0, 1);
    color:white;
    font-weight: 800;
}


/* Our Popular Tours Section Css style start here  */
.popular-section{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin-top: 100px;
}

.popular-section img{
    width:100%;
    height:100%;
}

.text-content{
    display:flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: space-between;
}

.text-content p,
.text-content li{
    font-size: 16px;
    line-height: 24px;
    color: rgba(19, 19, 24, 0.7);
}

.text-content h3,
.text-content p,
.text-content li {
    text-align: left;
}

/* Choose Your Destination Css Style */

.your-destination img{
    width:100%;
    height:300px;
    filter:brightness(70%);
}

.row-1,
.row-2,
.row-3{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 0;
    gap:1rem;
}
.row-2{
     grid-template-columns: 0.8fr 1.5fr 0.7fr;
}
.row-3{
     grid-template-columns: 0.75fr 1.25fr;
}
.country-card{
    position:relative;
}

.country{
    position:absolute;
    top:50%;
    left:50%;
    color:white;
    font-size: 28px;
    font-weight: bold;
    transform:translate(-50%,-50%);
}

        /* Footer Section  */

    .footer-section{
        background: rgba(19, 19, 24, 0.05);
        padding:2rem 0;
    }
    .footer-section .logo{
        margin:2rem auto;
    }

    .social{
        width:200px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin: 2rem auto;
    }
    .social i{
        height:44px;
        font-size: 24px;
    }
    .footer-section hr{
        border: 1px solid rgba(19, 19, 24, 0.1);
        margin: 2rem auto;
    }
    .hambarger{
         display:none;
    }

    /* Responsive design  */
@media screen and (max-width:600px) {
    .nav-option{
        display:none;
    }
    .hambarger{
         display:block;
    }

    h3{
        font-size: 26px;
    }
    .container{
        margin: 3rem auto;
    }
    p{
        font-size: 16px;
    }
    .explore-container h3{
        font-size: 26px;
    }
    .explore-container p{
        width:60%;
    }
    .travel-inputs{
        flex-direction: column;
        width:70%;
        margin:auto;
    }
    .travel-inputs input,
    .travel-inputs select,
    .travel-inputs button{
        width:100%;
        margin:1rem 0;
    }
    .popular-section,
     .row-1, 
     .row-2, 
     .row-3{
        grid-template-columns: 1fr;
    }



}
